$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-grey-dark: #777;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /************************************************
     * Root font-size 
     * One rem = root font-size
     * One rem = 62.5% of default browser font size 
    ************************************************/
    font-size: 62.5%;
    /* font-size: 50%; */
    /***********************************************/
}

body {
    /* Inherited by child elements of body */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;

    /* Padding applies to body tag only */
    /* (it is not inhereited by child elements) */
    padding: 3rem;

    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: 
    linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    /* Triangle */
    /* clip-path: polygon(50% 0, 100% 100%, 0 100%); */
    /* Right arrow */
    /* clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); */ 
  }


/* Logo container div in upper-left hand portion of header */
.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

}
/* Logo image contained in .logo-box */
.header__logo {
    height: 3.5rem;
}
/* Styling for div that serves as a container 
for the h1 tag in header */
.header__text-box {
    position: absolute;
    top: 40%; /* Relative to parent element */
    left: 50%; /* Relative to parent element */

    text-align: center;
    
    /* Not relative to parent element, 
    but instead relative to this element */
    transform: translate(-50%, -50%);
}
/* Styling for H1 tag */
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /* Used to smooth animation */
    margin-bottom: 6rem;
}
/* Styling for 1st span in H1 */
.heading-primary--main {
    display: block; /* span element is inline be default */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
}
/* Styling for 2nd span in H1 */
.heading-primary--sub {
    display: block; /* span element is inline be default */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
}
/* Animations */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*************************************************************************
   btn is a link
   'link' is a psuedo-class which represents the initial state of the link 
   'visited' is a psuedo-class which represents the state of the link
   after it has been clicked on.
*************************************************************************/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* default in inline for anchor tags */
    border-radius: 10rem;
    /*************************************************************** 
     'transition' must be applied to the initial state of this link 
    ****************************************************************/ 
    transition: all .2s; 
    position: relative;
    font-size: 1.6rem;
}
/*************************************************************************
   btn is a link
   link is a psuedo-class which represents the initial state of the link 
   hover is a psuedo-class which represents the state of the link when
   the user's mouse is hovering over this link.
*************************************************************************/
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}
/*************************************************************************
   btn is a link
   link is a psuedo-class which represents the initial state of the link 
   active is a psuedo-class which represents the state of the link when it
   has been clicked 
*************************************************************************/
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
.btn--white {
    background-color: #fff;
    color: $color-grey-dark;
}

.btn::after {
    content: ""; /* mandatory */
    display: inline-block; /* mandatory */  
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /***************************************************
     Absolute positioning needs to have a 'reference'.
     The reference is the 1st element that has a 
     'relative' position. In this case, the 'parent'
     or 'containing' element that has a relative
     position is 'btn'.
    ***************************************************/
    position: absolute; 
    top: 0;
    left: 0;
    /************************************************
      z-index specifies the position of the elements
      if they are 'one on top of the other'. 
    *************************************************/
    z-index: -1; /* will be behind 'btn' */
    /************************************************************************ 
     'transition' must be applied to the initial state of this psuedo-element 
    *************************************************************************/ 
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; /* 'fade' psuedo-element out */
}

.btn--animated {
    /* animation name, duration, timing funtion, delay */
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}