*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /************************************************
     * Root font-size 
     * One rem = root font-size
     * One rem = 62.5% of default browser font size 
    *************************************************
     * This defines what 1rem:
    ************************************************/
    font-size: 62.5%;
    //font-size: 100%;
    //font-size: 10%;
    //font-size: 10px;
    //font-size: 16px;
    //font-size: 50%;
    /***********************************************/
}

body {
    box-sizing: border-box;
    //font-size: 62.5%;
}