// BEGIN: body
body {
    /* Inherited by child elements of body */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;

    /* Padding applies to body tag only */
    /* (it is not inhereited by child elements) */
    padding: 3rem;
}
// END: body

// BEGIN: .heading-primary 
// (styling for H1 tag)
.heading-primary {
    color:$color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /* Used to smooth animation */
    margin-bottom: 6rem;

    /* Styling for 1st span in H1 */
    &--main {
        display: block; /* span element is inline be default */
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* animation-delay: 3s; */
        /* animation-iteration-count: 3; */
    }
    /* Styling for 2nd span in H1 */
    &--sub {
        display: block; /* span element is inline be default */
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}
//END: .heading-primary 

// BEGIN: .heading-secondary
// (styling for H2 tag)
.heading-secondary {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 3.5rem;
    font-weight: 700;

    ////////////////////////////////////////////////////////////
    // display: inline-block;
    ////////////////////////////////////////////////////////////
    // Change display to 'inline-block' so that this H2 element
    // doesn't occupy the entire width of page but instead
    // occupies the width of the text
    ////////////////////////////////////////////////////////////
    display: inline-block;
    ////////////////////////////////////////////////////////////

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

    //////////////////////////////////////////////////////////
    // -webkit-background-clip: text;
    //////////////////////////////////////////////////////////
    // Makes the background-image appear only behind the text
    //////////////////////////////////////////////////////////
    -webkit-background-clip: text;
    //////////////////////////////////////////////////////////
    
    //////////////////////////////////////////////////////////
    // color: transparent;
    //////////////////////////////////////////////////////////
    // Makes the color of the text transparent so that you
    // can see the background-image in lieu of text color
    //////////////////////////////////////////////////////////    
    color: transparent;
    //////////////////////////////////////////////////////////

    //////////////////////////////////////////////////////////
    // Visual effect - tilt text
    //////////////////////////////////////////////////////////
    transition: all 0.2s;
    &:hover {
        transform: skewX(15deg) skewY(2deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.25);
    }
    //////////////////////////////////////////////////////////
}
// END: .heading-secondary